body {
    background-color: rgb(0, 10, 0);
    margin-bottom: -10em;
}

.jumbotron img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

/* centers and adjusts image size,   */
.center-jumbo {
    text-align: center;
    height: 100vh;
    /* background-color:#00000080; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
} 

.center-jumbo h1, .center-jumbo h2, .center-jumbo  p {
    font-weight: bold;
    color: rgba(255, 255, 255, 0.877)
}

.card {
    max-width: 30em;
}

.card-columns {
    height: auto;
    margin: 0 auto;
    width: 80%;
}

.Smartphone {
    max-width: 100%;
    margin: 0 auto;
}

.Smartphone h1 {
    margin-top: .5em;
    font-size: 55px;
}

.Smartphone h4 {
    margin-top: -2em;
    font-size: 20px;
}

.card-size {
    max-height: 90vh;
}

.text-width {
    width: 45%;
}

.text-center {
    margin: 0 auto;
    padding: 8% 0;
}

.card-img-overlay {
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

.app-version .card-img-overlay {
    background: rgba(0, 10, 0, .300);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

.app-version {
    max-width: 100%;
    margin-bottom: 10em;
    padding: 0;
    
}

.Smartphone img {
    opacity: .8;
}

@media only screen and (max-width: 360px) {
    .jumbotron h1 {
      font-size: 2em;
    }
  }

  @media only screen and (max-width: 1500px) {
    .Smartphone h4 {
        margin-top: 9em;
        font-size: 20px;
    }
  }


  @media only screen and (max-width: 1300px) {
    .Smartphone h4 {
        margin-top: 4em;
        font-size: 20px;
    }
  }

  @media only screen and (max-width: 1000px) {
    .Smartphone h4 {
        margin-top: 4em;
        font-size: 15px;
    }
  }

  @media only screen and (max-width: 1000px) {
    .Smartphone h4 {
        display: none;
    }
  }

  @media only screen and (max-width: 700px) {
    .Smartphone h1 {
        font-size: 40px;
    }
  }

  @media only screen and (max-width: 350px) {
    .Smartphone h1 {
        font-size: 30px;
    }
  }